.nav-tabs>li>a {
	border:none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border:none;
}
table {
	background-color: lightblue;
}

.h2 {
	color:white;
}

.uploadImageFont {
	color:white;
}
