.table > tbody > tr > td {
	     vertical-align: middle;
}

ul.share-button{
	margin-top: 10px;
}
li{
	display: inline;
	margin-right: 20px;

}

li a { color: inherit; }

p.challenge_name{
	text-decoration: none;
	font-size:20px ;
	font-weight: normal;
	color: inherit;
}

.accounterror{
	color: rgb(219, 141, 13);
	background-color: rgb(237, 228, 242);
	border-color:rgb(248, 225, 156);
	border:2px solid;
	text-align:center;
	max-height: 500px;
	transition: max-height 0.25s ease-in;
}

.slideimg{
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}

.panel-newactions{
  text-align: center;
  font-weight: bold;
}

.pointsum{
  text-align: right;
}

.descsum{
  text-align: center;
}

.my-page-header, .my-page-header * {
	color: white;
}

table {
	color: black;
}

/*iphone checkbox css start*/
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}

	/* Hide default HTML che0ckbox */
	.switch input {display:none;}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #969696;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}

	.checkbox-label {
		margin-left: 75px;
	}
/*iphone checkbox css end*/

.leaderboard-filter {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
}
